/*
 * Copyright (c) 2024
 *
 *  This file is free software: you may copy, redistribute and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation, either version 3 of the License, or (at your
 *  option) any later version.
 *
 *  This file is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *  General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * This file incorporates work covered by the following copyright and
 * permission notice:

    Copyright (C) 2011 Patrick Gillespie, http://patorjk.com/

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.
*/

.xbbcode-b {
    font-weight:bold;
}

.xbbcode-blockquote {

}

.xbbcode-center {
    margin-left:auto;
    margin-right:auto;
    display: block;
    text-align: center;
}

.xbbcode-code {
    white-space: pre-wrap;
    font-family: monospace;
}

.xbbcode-i {
    font-style: italic;
}

.xbbcode-justify {
    display: block;
    text-align: justify;
}

.xbbcode-left {
    display: block;
    text-align: left;
}

.xbbcode-right {
    display: block;
    text-align: right;
}

.xbbcode-s {
    text-decoration: line-through;
}

.xbbcode-size-4 {font-size:4px;}
.xbbcode-size-5 {font-size:5px;}
.xbbcode-size-6 {font-size:6px;}
.xbbcode-size-7 {font-size:7px;}
.xbbcode-size-8 {font-size:8px;}
.xbbcode-size-9 {font-size:9px;}
.xbbcode-size-10 {font-size:10px;}
.xbbcode-size-11 {font-size:11px;}
.xbbcode-size-12 {font-size:12px;}
.xbbcode-size-13 {font-size:13px;}
.xbbcode-size-14 {font-size:14px;}
.xbbcode-size-15 {font-size:15px;}
.xbbcode-size-16 {font-size:16px;}
.xbbcode-size-17 {font-size:17px;}
.xbbcode-size-18{font-size:18px;}
.xbbcode-size-19 {font-size:19px;}
.xbbcode-size-20 {font-size:20px;}
.xbbcode-size-21 {font-size:21px;}
.xbbcode-size-22 {font-size:22px;}
.xbbcode-size-23 {font-size:23px;}
.xbbcode-size-24 {font-size:24px;}
.xbbcode-size-25 {font-size:25px;}
.xbbcode-size-26 {font-size:26px;}
.xbbcode-size-27 {font-size:27px;}
.xbbcode-size-28 {font-size:28px;}
.xbbcode-size-29 {font-size:29px;}
.xbbcode-size-30 {font-size:30px;}
.xbbcode-size-31 {font-size:31px;}
.xbbcode-size-32 {font-size:32px;}
.xbbcode-size-33 {font-size:33px;}
.xbbcode-size-34 {font-size:34px;}
.xbbcode-size-35 {font-size:35px;}
.xbbcode-size-36 {font-size:36px;}
.xbbcode-size-37 {font-size:37px;}
.xbbcode-size-38 {font-size:38px;}
.xbbcode-size-39 {font-size:39px;}
.xbbcode-size-40 {font-size:40px;}

.xbbcode-u {
    text-decoration: underline;
}

.xbbcode-table {
    border-collapse:collapse;
}

.xbbcode-tr {

}

.xbbcode-table , .xbbcode-th, .xbbcode-td {
    border: 1px solid #666;
}

body {
    font-family: "Roboto", sans-serif;
}

/* div containing links at the top of the page (normally) */
.links-block {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid grey;
    background: #009900;
    border-radius: 10px;
    padding: 3px;
}

/* Color of the content of the colored header at the top of the page (normally) */
.link {
    text-align: center;
    flex: 1;
    color: white;
}

/* Color of actual links at the top of the page (normally) */
.link > a {
    color: lightblue;
}

/* Last modification on index */
.last-modification {
    text-align: right;
    padding-right: 3%;
    width: 20%;
}

/* Links on the index */
.index-link {
    max-width: 95%;
}

/* The div containing a link and the date of last modification on the index */
.index-law {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

table, tr {
    border: 1px solid black;
    padding: 1%;
    width: 100%;
    margin-bottom: 2%;
}

/* The (invisible) main table containing all other tables */
.main-table {
    border: 0;
}

/* Header indicating last modification on index */
.last-modification-header {
    text-align: right;
    padding-right: 3%;
    font-weight: normal;
}

/* Different background colors depending on the depth in the index */
.background1, .background3, .background5, .background7, .background9 {
    background-color: #aaff99;
}

.background2, .background4, .background6, .background8 {
    background-color: #ffffff;
}

/* A collapsible table */
.collapsible {
    background-color: #009900;
    font-weight: bold;
    color: yellow;
    padding: 0.2%;
    padding-left: 0.8%;
}

/* An active collapsible */
.active, .collapsible:hover {
}

/* The content of a collapsible */
.content {
}

/* The content of a non-collapsed collapsible */
.visible-content {
    display: table-cell;
}

/* The content of a collapsed collapsible */
.invisible-content {
    display: none;
}
